{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Item{% endblock title %}

{% block content %}
    
<br>
<div class="card">
  <h5 class="card-header">Create Item</h5>
  <div class="card-body">
    <p class="card-text">
        <form action="{% url 'item-create' restaurant.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            {{% if request.user.is_staff or restaurant_obj.owner == request.user %}:
            <input type="submit" value="Create" class="btn btn-outline-success">
            {% endif %}
        </form>
    </p>
  </div>
</div>
{% endblock content %}
